.contact-content {
    text-align: center;
  }
  
  .contact-details {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 20%;
    margin-right: 20%;
  }
  
  .contact-item{
    width: 100%;
    margin: 2em;
    padding: 0.25em;
    border: 2px solid #fff;
    border-radius: 8px;
    /* text-align: center; */
    transition: transform 0.3s ease-in-out;
  }
  
  .contact-item::before{
    display: none;
  }

  .contact-item:hover {
    display: block;
    transform: scale(1.1);
    background-color: rgb(229, 187, 0);;
  }
  
  .contact-icon {
    font-size: 2em;
    /* margin-right: 10px; */
    color: #fff;
  }