.cv-content {
    text-align: center;
    padding: 40px;
  }
  
  .download-link {
    margin-top: 20px;
  }
  
  .download-link a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
  }
  
  .download-link a:hover {
    background-color: #555;
  }