.projects-content {
    width: 60%;
    text-align: center;
    /* padding: 40px; */
    margin-left: 20%;
    margin-right: 20%;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 5%;
    margin-top: 5%;
  }
  
  .project-item {
    background-color: #06006f72;
    color: #fff;
    padding: 5%;
    /* margin-top: 10%; */
    border-radius: 8px;
    text-align: left;
    overflow: hidden;
    opacity: 1;
    /* transform: ; */
    transition: opacity 0.5s ease, transform 0.5s ease-in-out;
  }
  
  .project-item:hover {
    /* opacity: 1; */
    border: 2px solid #fff;
    transform: scale(1.1);
  }

  .project-item h3:hover{
    color: rgb(247, 203, 8);
  }
  .project-item a{
    color: #fff;
  }

  .project-item a:hover{
    color: rgb(247, 203, 8);
  }