/* General Styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  padding: 1 rem;
  font-family: 'Montserrat';
  font-weight: 300;
  line-height: 1.5;
  color: white;
  background-color: transparent;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: #1e1e24;
}

::-webkit-scrollbar-thumb {
  background: #6649b8;
}

::-webkit-scrollbar-thumb:hover{
  background: #6649b8;
}

.root {
  min-height: 100%;
  position: relative;
}

h1 {
  font-size: 70px;
  font-weight: 300;
}

h2,
h3 {
  font-weight: 300;
}
/*-------------------------------------------------------------------------------------------------*/
/* App.js */

.particles{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: linear-gradient(#e26120, #601f6c, #42114b, #34033d);
}

.sidebar {
  position: fixed;
  transition: width 600ms ease;
  overflow: hidden;
  top: 0;
  width: 5rem;
  height: 100vh;
  background-color:#433d3a;
  z-index: 2;
}

.sidebar:hover{
  width: 16rem;
}

.sidebar:hover .sidebar-item-link{
  display: inline;
  margin-left: 1rem;
}

.sidebar:hover .sidebar-item{
  justify-items: left;
}

.sidebar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.link{
  width: 100%;
  align-self: center;
  margin-left: 3rem;
}

.sidebar-item{
  display: flex;
  align-items: center;
  height: 5rem;
  justify-content: left;
  color: white;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: 600ms;
}

.sidebar-item:hover{
  width: 100%;
  filter: grayscale(0%) opacity(1);
  background: #e26120;
  color: white;
}

.sidebar-item-link{
  display: none;
  margin-left: 1 rem;
}

.sidebar-item FontAwesomeIcon{
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.menu-icon{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: white;
  background: #433d3a;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.menu-icon .logo-icon{
  transform: rotate(0deg);
  transition: 600ms;
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.menu-icon-text{
  display: inline;
  position: absolute;
  left: -999px;
  transition: 600ms;
}

.sidebar:hover .menu-icon .logo-icon{
  transform: rotate(-180deg);
  margin-left: 11rem;
}

.sidebar:hover .menu-icon-text{
  left: 2rem;
}
/*------------------------------------------------------------------------------------------------*/
/* HomePage.js */

.homepage-container{
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
  overflow: hidden;  
}

.row{
  display: flex;
  flex-direction: row;
}

.pic-pane{
  width: 40%;
  height: 60%; 
  padding-top: 6rem;
  padding-bottom: 1rem;
  text-align: center;
}
.picture{
  border-radius: 50%;
  border: 5px solid; 
  border-color: white;
}
.name-pane{
  width: 60%;
  height: 40%;
  padding-top: 6rem;
  align-items: center;
  color: white;
  font-size: 40px;
}

.media-icons{
  width: 40%;
  height: auto;
  text-align: center;
}
.interests-pane{
  width: 60%;
  height: auto;
  margin-top: -1.5rem;
  text-align: center;
  color: white;
  font-size: 50px;
}

.footer{  
  position: absolute;
  bottom: 0;
  text-align: center;
  font-weight: 400;
  width: 100%;
  height: 30px;
}

/*------------------------------------------------------------------------------------------------*/
/* AboutPage.js */

.about-text{
  font-size: 30px;
  justify-content: center;
  margin-left: 13rem;
  margin-top: 5rem;
  margin-bottom: 10rem;
  text-transform: uppercase;
}
.about-bio, .about-content{
  position: relative;
  left: 2rem;
}

/* CUSTOM LINE COLOR */
/* The line */
.vertical-timeline.vertical-timeline-custom-line::before {
  background: #424242;
}

/* Icon container's border */
.vertical-timeline.vertical-timeline-custom-line .vertical-timeline-element--work .vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px #e26120;
}

.vertical-timeline.vertical-timeline-custom-line .vertical-timeline-element--education .vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px #e26120, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

/*------------------------------------------------------------------------------------------------*/
/* CVPage.js */

.cv-page{
  width: 100%;
  height: 100%;
}
.document{
  height: auto;
  align-items: center;
  background: {
    color: purple;
    filter: blur(8px);
  }
  width: 100%;
}

.pdf{
  position: relative;
  top:3rem;
  align-self: center;
  margin-left: 13rem;
  margin-right: 7rem;
}

.cv-text{
  font-size: 30px;
  justify-content: center;
  margin-left: 13rem;
  margin-top: 5rem;
  text-transform: uppercase;
}

.doc-buttons{
  position: relative;
  margin-bottom: 1rem;
  text-align: center;
  margin-left: 5rem;
  margin-top: 1rem;
  align-content: center;
}

.page-text{
  position: relative;
  bottom: 0;
  margin-bottom: 1rem;
  text-align: center;
  margin-left: 5rem;
}

/*------------------------------------------------------------------------------------------------*/
/* ContactPage.js */

.contact-page{
  width: 100%;
  height: 100%;
}
.contact-title{
  margin-top: 5rem;
  margin-left: 13rem;
}

.contact-stuff{
  display: flexbox;
  flex-direction: column;
  width: 80%;
  height: auto;
  margin-left: 13rem;
  margin-bottom: 2rem;
  margin-top: -2rem;
}

.mail-box{
  display: flex;
  flex-direction: row;
  position: relative;
  top: 3em;
  left:2rem;
  background: #433d3a;
  width: 13rem;
  height: 120px;
  align-items: center;
  border-radius: 15%;
}

.icon{
  position: relative;
  left: 1.5rem;
  font-size: 80px;
  color: white;
}

.mail-box .arrow-icon{
  display: inline;
  position: relative;
  left:-10rem;
  font-size: 60px;
  transform: rotate(0deg);
  transition: 600ms;
}
.phone-box .arrow-icon{
  display: inline;
  position: relative;
  left:-4.5rem;
  font-size: 60px;
  transform: rotate(0deg);
  transition: 600ms;
}
.arrow-icon{
  display: inline;
  position: relative;
  font-size: 60px;
  transform: rotate(0deg);
  transition: 600ms;
}

.icon-text{
  display: inline;
  position:relative;
  opacity: 0;
  transition: 600ms;
}
.mail-box:hover{
  width: 50rem;
  border-radius: 5%;
  text-align: center;
}

.mail-box:hover .icon{
  color: #e26120;
}

.mail-box:hover .icon-text{
  opacity:1;
  top:1.5rem;
  left: 10rem;
  font-size: 20px;
  width: 100%;
  text-align: center;
  margin-top:-3rem;
  text-decoration: none;
  justify-content: space-evenly;
}

.mail-box:hover .arrow-icon{
  transform: rotate(-180deg);
  margin-left: 30rem;
}

a:link, a:visited{
  color: white;
  text-decoration: none;
}

.phone-box{
  display: flex;
  flex-direction: row;
  position: relative;
  top: 6rem;
  left:2rem;
  background: #433d3a;
  width: 13rem;
  height: 120px;
  align-items: center;
  border-radius: 15%;
}

.phone-box:hover{
  width: 50rem;
  border-radius: 5%;
  text-align: center;
}

.phone-box:hover .icon{
  color: #e26120;
}

.phone-box:hover .icon-text{
  opacity:1;
  left: 10rem;
  font-size: 20px;
  text-decoration: none;
  width: 100%;
  display: inline;
  justify-content: space-evenly;
}

.phone-box:hover .arrow-icon{
  transform: rotate(-180deg);
  margin-left: 32rem;
}

.location-box{
  display: flex;
  flex-direction: row;
  position: relative;
  top: 9rem;
  left:2rem;
  background: #433d3a;
  height: 120px;
  align-items: center;
  width: 13rem;
  border-radius: 15%;
}

.location-box:hover{
  width: 50rem;
  border-radius: 5%;
  text-align: center;
}

.location-box:hover .icon{
  color: #e26120;
}

.location-box:hover .icon-text{
  opacity:1;
  left: 10rem;
  font-size: 20px;
  text-decoration: none;
}

.location-box:hover .arrow-icon{
  transform: rotate(-180deg);
  margin-left: 32.5rem;
}

.contact-last{
  padding: 2rem;
  position: absolute;
  bottom:0;
  left:40rem;  
  text-align: center;

}
/*--------------------------------------------------------------------------------------------------*/
/*Window*/
.window{
  width: 100%;
  height: 100%;
  margin-left: 5rem;
  background: white;
  z-index: -1;
  border: 5px solid #433d3a;
}

.window-title-bar{
  position: relative;
  top:0;
  height:30px;
  background: #433d3a;
  color: white;
}

.close-button{
  color: #e26120;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 5rem;
}